/* ============================================ UNIVERSAL ==================================================== */
body,html {
	font-family: Verdana;
	margin:0;
	padding:0;
	padding-bottom: 15px;
}
		
h1{
	padding: 0px;
	margin: 0px;
	font-size: 23px;
	font-weight:normal;
}
			
h2{
	padding: 0px;
	margin: 0px;
	font-size: 15px;
	font-weight:normal;
}

/*input-textField*/
input[type="numbers"]{
	padding: 8px;
	line-height: 10px;
}

span {
	display: inline-block ;
}



/* ============================================= NAVIGATION BAR =========================================== */
#header{
	background-color: #303030;
	min-height: 40px;
}

#top-navbar a {
	padding: 10px;
	background-color: #303030;
	text-align: center;
	text-decoration: none;
	color: white;
	
	display: inline-block;
	list-style-type: none;
}

#top-navbar a:hover {
	background: linear-gradient(#E98600, #C67000);
}

#top-navbar{
	text-align: bottom;
	width:  100%;
	
	float: center;
	
	overflow: hidden;
	background-color: #303030;
}

#top-navbar a.active {
	background: linear-gradient(#E98600, #C67000);
}



/* ================================================ PAGE BODY ============================================= */
#center{
	text-align: left;
	margin: auto;
	width: 65vw;
}

#header-name{
	border-bottom: 5px solid #B6B6B6;
	padding-bottom: 7px;
	padding-top: 30px;
}

#path a{
	color: black;
	text-decoration: none;
}

#path{
	padding-top: 5px;
	font-size: 13px;
}



/* ====================================================== ERROR IMAGES ==================================================== */
.errorImage{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}



/* ==================================================== IMAGE TO TEXT CONVERTER-FRONTPAGE ===================================================== */
#selectFileDiv{
	padding-bottom: 20px;
}

#inputField_widthDiv{
	padding-bottom: 15px;
}

#readIMG{
	display: none;
}



/* ==================================================== IMAGE TO TEXT CONVERTER-RESULTPAGE ===================================================== */
#center-textArea{
	max-width: 90vw;
	margin: auto;
	text-align: center;
}

#text-inside{
	background-color: WHITE;
	display: inline-block;
	box-shadow: 0.25vh 0.25vh 0.5vh 0.25vh #B7B7B7;
	padding: 0.5vh;				
}

#text-inside p{
	margin: 0;
	padding: 0;
}

#downloadFileButton{
	display: none;
}

#top-buttonDiv{
	height: 5vh;
	overflow: hidden;
	margin: auto;
	margin-top: 1vw;
	padding-bottom: 1vh;
	display: inline-block;
}

#body{
	padding: 0;
	padding-top: 10px;
}

#text{
	min-width: 15vw;
	display: block;
	text-align: center;
	margin: auto;
}

*{
	box-sizing:border-box
}



/* ============================================= UNIVERSAL_CONTROLS - LINK ===================================================== */
.universalLink_Orange{
	text-decoration: none;
	color: #E18100;
}



/* ============================================== UNIVERSAL_CONTROLS - BUTTON ================================================= */
.container * {
	padding: 5px 5px 5px;
}

.button {
	background-color: #E98600;
	border-color: #E07F00;
	color: white;
	padding: 7px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
}

.button:hover {background-color: #E07F00}

.button:active {
	background-color: #D67900;
	transform: translateY(1px);
}

.button{
	cursor: pointer;
}

.button:focus{
	outline:none;
}



/* ============================================ TOOL CONTAINER ============================================= */
.toolContainer_wrap{
	min-height: 115px;
	width: 538px;
	box-shadow: 0.25vh 0.25vh 0.5vh 0.25vh #B7B7B7;
	overflow: hidden;
}

.toolContainer_inside{
	padding-top: 5.74px;
	padding-bottom: 5.74px;
	padding-left: 9.6px;
	padding-right: 9.6px;
}

.toolContainer_header{
	width: 100%;
	height: 50%;
}

.toolContainer_link{
	font-weight: bold;
	color: #0071C1;
	text-decoration: none;
}

.toolContainer_date{
	float: right;
	font-size: 12px;
	color: gray;
}

.toolContainer_description{
	width: 100%;
	height: 50%;
	font-size: 15px;
	text-align: justify;
	margin-top: 0.6vw;
}
    

						
			
/* =================================== HOME - FRONT PAGE CONTAINER ==================================== */
.frontPageContainer{
	overflow: hidden;
	margin: 0 auto;
}

.frontPageContainer_description{
	width: 40vw;
	float: left;
	overflow: hidden;
	padding-right: 27px;
	text-align: justify;
}

.slideshow-container.frontPageContainer_slideshow{
	float: right;
	max-width: 25vw;
}



/* ============================================= CONTACTS EMAIL =========================================== */
#emailContainer{
	width: 400px;
}

#emailInputContent{
	resize: none;
}

.emailInput{
	width: 100%;
	padding: 8px;
	line-height: 10px;
	background-color: #F2F2F2;
	border: 1px solid #C4C4C4;
}

.emailLabel{
	display: block;
	padding-bottom: 3px;
}

		
/* ============================================ SLIDESHOW ========================================== */			
/* Slideshow container */
.slideshow-container {
  
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}